<div th:fragment="navbar">
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand" href="/home">Fais ton cine</a>
  		<div class="navbar-expand" id="navbarNavDropdown">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="/idee">Idee</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/personna">Personna</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/decor">Decor</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/scenarii">Scenarii</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/commentaire">Commentaire</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/scene">Scene</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/musique">Musique</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/login">Login</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/logout">Logout</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/register">Register</a>
	      </li>
	    </ul>
  		</div>
	</nav>
</div>