<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<title>Show scenario</title>
</head>
<body>
<div class="row">
	<div class="col-lg-8 col-md-7 col-sm-6">
		<h1>Scenario</h1>
		<form th:action="@{/scenarii/edit}"
			method="post" enctype="multipart/form-data" th:object="${scenario}">
			<fieldset class="form-group">
				<input hidden="true" th:field="*{id}"/>
				<div class="form-group">
					<label class="col-lg-2 control-label">Name</label>
					<div class="col-lg-6">
						<input class="form-control" th:field="*{name}"/>
					</div>
					</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Description</label>
					<div class="col-lg-6">
						<input class="form-control" th:field="*{description}"/>
					</div>
				</div>
			</fieldset>
			<input class="btn btn-primary" type="submit" value="Edit scenario" name="button" />	
		</form>
	</div>
</div>

</body>
</html>