<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	  <head th:replace="fragments/header::head"></head>
	<body>
	<div th:replace="fragments/menu :: navbar"></div>
		<fieldset>
			<legend><h2>Add an idea to the list</h2></legend>
			<form id="addIdea" th:action="@{/idea/save}" method="post" enctype="multipart/form-data">
			<table>
				<tr><td class="label"><label>Name<b style="color: red">*</b> :</label></td>
				<td class="input"><input name="name" type="text" placeholder="Enter a name for your idea..."/></td></tr>
				<tr><td colspan="2" class="label"><label>Description<b style="color: red">*</b> :</label></td></tr>
				<tr><td colspan="2"><textarea name="description" form="addIdea" rows="5" cols="80" placeholder="Enter your description here..."></textarea></td></tr>
            </table>
            <div class="form_button"> 
                <table>
                    <tr><td><input type="submit" value="Add"/></td><td><input type="reset" value="Clear"/></td></tr>
                </table>
            </div>
			</form>
		</fieldset>	
	 <div th:replace="fragments/footer :: footer"></div>
	</body>
</html>