<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

 <head th:replace="fragments/header::head"></head>

<body>
<div th:replace="fragments/menu :: navbar"></div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="idea : ${ideaList}">
				<td th:text="${idea.name}"></td>
				<td th:text="${idea.description}"></td>
				<td>
					<a type="button" th:href="@{/idea/{id}(id=${idea.id})}">Show</a></br>
					<a type="button" th:href="@{/idea/delete/{id}(id=${idea.id})}" class="btn-link">Delete</a>
				</td>
			</tr>	
		</tbody>
	</table>

	<a th:href="@{/idea/add}" type="button" class="btn-link">New idea</a>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html> 