<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<title>Add a comment</title>
	<div class="container">
 		<div class="row">
			<div class="col-lg-6 col-md-7 col-sm-6">
				<h1>Add a comment</h1>
				<form th:action="@{/commentaire/creation}"
					method="post" enctype="multipart/form-data" th:object="${commentaireForm}">
					<fieldset class="form-group">
						<div class="form-group" th:class="${#fields.hasErrors('auteur')}? has-error">
							<label class="col-lg-3 control-label">Author</label>
							<div class="col-lg-9">
								<input class="form-control" th:field="*{auteur}" />
							</div>
							<span th:if="${#fields.hasErrors('auteur')}" th:errors="*{auteur}" th:errorclass="fieldError">Author error</span>
						</div>
						<div class="form-group" th:class="${#fields.hasErrors('titre')}? has-error">
							<label class="col-lg-3 control-label">Title</label>
							<div class="col-lg-9">
								<input class="form-control" th:field="*{titre}" />
							</div>
							<span th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}" th:errorclass="fieldError">Title error</span>
						</div>
						<div class="form-group" th:class="${#fields.hasErrors('commentaire')}? has-error">
							<label class="col-lg-3 control-label">Comment</label>
							<div class="col-lg-9">
								<input class="form-control" th:field="*{commentaire}" />
							</div>
							<span th:if="${#fields.hasErrors('commentaire')}" th:errors="*{commentaire}" th:errorclass="fieldError">Comment error</span>
						</div>
						<div class="form-group" th:class="${#fields.hasErrors('sur')}? has-error">
							<label class="col-lg-3 control-label">For</label>
							<div class="col-lg-9">
								<input class="form-control" th:field="*{sur}" />
							</div>
							<span th:if="${#fields.hasErrors('sur')}" th:errors="*{sur}" th:errorclass="fieldError">For error</span>
						</div>
					</fieldset>
					<input class="btn btn-primary" type="submit" value="Create scenario" name="button" />
				</form>
			</div>
		</div>
	</div>	
</body>
</html>